# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
ENV/

# Model weights
*.pt
*.pth

# VS Code
.vscode/

# Node
node_modules/

# Frontend build
frontend/dist/
frontend/build/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.sqlite3
